{% extends 'base.html' %}

{% block content %}

<div class="container">
	<table class="table table-striped" style="margin-top: 30px">
	  <thead>
	    <tr>
	      <th scope="col">id</th>
	      <th scope="col">Name</th>
	      <th scope="col">Child</th>
	      <th scope="col">Date</th>
	      <th scope="col">Amount</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for object in data%}
		    <tr>
		      <td>{{object.id}}</td>
		      <td>{{object.name}}</td>
		      <td>{{object.child}}</td>
		      <td>{{object.created_at}}</td>
		      <td>{{object.amount}}</td>
		    </tr>
		{% endfor %}
	    
	  </tbody>
	</table>
</div>

{% endblock %}